# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Archivos de compilación
bin/
obj/
[Bb]uild/
[Ll]og/

# Paquetes NuGet
*.nupkg
*.snupkg
*.nuspec
packages/

# Archivos de cache y temporales
*.tmp
*.bak
*.log

# Configuración local
*.dbmdl
*.jfm
*.cache
ObligatorioProgramacion2.asta.lock
